html, body, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-y: scroll; 
}

.center { text-align: center; }

.study-question {
    min-height: 210px;
}

.create-card-btn {
    margin: 20px;
}

.page {
    margin: 30px;
}

.target-deck {
    margin-top: 20px;
}
